code/vendor/
code/node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
code/bootstrap/compiled.php
code/app/storage/

# Laravel 5 & Lumen specific
code/public/storage
code/public/hot

# Laravel 5 & Lumen specific with changed public path
code/public_html/storage
code/public_html/hot

# Environment & secrets
code/storage/*.key
code/.env
code/Homestead.yaml
code/Homestead.json
code/.vagrant
code/.phpunit.result.cache

# macOS junk
.DS_Store
code/.DS_Store